<div class="white-card" *ngFor="let data of resume;">
  <div class="work-data">
  <p class="year">{{ data.company_period }}</p>
  <p class="designation">{{ data.company_role }}</p>
  <p>{{ data.company_name }}</p>
  <p>{{ data.company_location }}</p>
  </div>
  <div class="work-details">
    <p>{{ data.company_description }}</p>
  </div>
</div>

<div class="education-container">
<p class="resumePageheading">Education</p>
<div class="white-card" *ngFor ="let data of education">
  <div class="work-data">
  <p class="year"> {{data.college_period}} </p>
  <p class="designation">{{ data.college_name }}</p>
  <p>{{data.college_degree}}</p>
  <p>{{ data.college_location }}</p>
  </div>
  <div class="work-details">
    <p>{{ data.college_description }}</p>
  </div>
</div>
</div>
