<header>
  <div class="header-name">
    <span class="box"></span>
    <p class="name">{{name}} <span class="designation">/ {{designation}}</span></p>
  </div>
    <ul class="header-option-list">
      <li><a href="#"  routerLink="/home" routerLinkActive="active">about me</a></li>
      <li><a href="#"  routerLink="/resume" routerLinkActive="active">resume</a></li>
      <li><a href="#"  routerLink="/projects" routerLinkActive="active">projects</a></li>
      <li><a href="#"  routerLink="/contact" routerLinkActive="active">contact</a></li>
    </ul>
</header>

