<section>
  <div class="card">
    <div class="card-title">
      <div class="card-title-inside">
      <div class="profile-img">
        <img src="./assets/test.jpg" alt="">
      </div>
      <p class="name">John Doe</p>
      <p class="designation">frontend developer</p>
      </div>
      <app-socials></app-socials>
    </div>
    <div class="card-content">
      <p class="greetings">Hello</p>
      <p class="greetings-below">Here's who I am & what I do</p>
      <div class="button-group">
        <a href="" routerLink="/resume" routerLinkActive="active">Resume</a>
        <a href="">Projects</a>
      </div>
      <p class="about-you">Lorem ipsum dolor sit. Sed mauris lacus, pharetra eget turpis at, finibus dictum purus. Morbi tellus tellus, imperdiet eget pulvinar et, tristique non urna. Vestibulum id egestas libero. Curabitur a sapien at luctus quis lorem viverra,</p>
      <p class="about-you">Lorem ipsum dolor sit amet, a sapien at luctus quis lorem viverra,</p>
    </div>
  </div>
</section>
