<section>
<div class="container">

  <div class="custom-card">
    <div class="custom-card-title">
      <div class="custom-card-title-inside">
      <div class="profile-img">
        <img src="./assets/test.jpg" alt="">
      </div>
      <p class="name">Mitali Harsh </p>
      <p class="designation">frontend developer</p>
      </div>
      <app-socials></app-socials>
    </div>
    <div class="custom-card-content">
      <p class="greetings">Hello</p>
      <p class="greetings-below">Here's who I am & what I do</p>
      <div class="button-group">
        <a href="" routerLink="/resume" routerLinkActive="active">Resume</a>
        <a href="" routerLink="/projects" routerLinkActive="active">Projects</a>
      </div>
      <p class="about-you">{{ about }}</p>
    </div>
  </div>
</div>
</section>
