

section{
font-family: 'Poppins', sans-serif;
}

.page{
  background: #e6dace;
  display: grid;
    width: 100%;
    grid-template-rows: repeat(2, min-content) 1fr;
    box-sizing: border-box;
        height: auto;
    min-height: 619px;
        justify-items: center;
}
