<app-page>
  <div class="project-page">
    <div class="heading-container">
      <span class="box"></span>
      <p class="heading">{{ title }}</p>
    </div>
    <p>{{ about }}</p>
    <div class="project-page-container">
      <div class="project-container">
        <div class="project-details">
          <p>Project Name</p>
          <p>Role</p>
          <p>
            I'm a paragraph. Click here to add your own text and edit me. It’s
            easy. Just click “Edit Text” or double click me to add your own
            content and make changes to the font.
          </p>
        </div>
        <img src="./assets/Leaflet.png" alt="" class="project-img" />
      </div>

      <div class="project-container">
        <div class="project-details">
          <p>Project Name</p>
          <p>Role</p>
          <p>
            I'm a paragraph. Click here to add your own text and edit me. It’s
            easy. Just click “Edit Text” or double click me to add your own
            content and make changes to the font.
          </p>
        </div>
        <img src="./assets/Leaflet.png" alt="" class="project-img" />
      </div>
    </div>
  </div>
</app-page>
