<app-page>
  
    <div class="heading-container">
      <span class="box"></span>
      <p class="heading">{{ title }}</p>
    </div>

    <p class="demo">{{ about }}</p>
    <div class="project-page-container">

      <div class="project-container" *ngFor="let project of projects; index as index">
        <div class="project-details">
          <span class="border-right"></span>
          <p class="project-title">{{ project.title }}</p>
          <p class="project-role">{{ project.role }}</p>
          <p>
            {{ project.description }}
          </p>
        </div>
        <img src="{{ project.src }}" alt="" class="project-img" />
      </div>
    </div>

</app-page>
