<div class="skills">
      <div class="Professional-skills">
        <p class="skills-heading">Professional skillset</p>
        <ul>
          <li><span class="blue-box"></span>Entrepreneurial Mindset</li>
          <li><span class="blue-box"></span>Entrepreneurial Mindset</li>
          <li><span class="blue-box"></span>Entrepreneurial Mindset</li>
          <li><span class="blue-box"></span>Entrepreneurial Mindset</li>
        </ul>
      </div>
      <div class="Professional-skills">
        <p class="skills-heading">Languages</p>
        <ul>
          <li><span class="blue-box"></span>Entrepreneurial Mindset</li>
          <li><span class="blue-box"></span>Entrepreneurial Mindset</li>
          <li><span class="blue-box"></span>Entrepreneurial Mindset</li>
        </ul>
      </div>
    </div>
