<div class="socials">
<div class="social-media">
  <a href="http://facebook.com" target="_blank"><img src="./assets/fb.png" alt=""></a>
</div>
<div class="social-media">
  <a href="http://twitter.com" target="_blank"><img src="./assets/twt.png" alt=""></a>
</div>
<div class="social-media">
  <a href="http://linkedin.com" target="_blank"><img src="./assets/linkd.png" alt=""></a>
</div>
<div class="social-media">
  <a href="http://instagram.com" target="_blank"><img src="./assets/insta.png" alt=""></a>
</div>
</div>
