$blue: #2c36fe;

.resume-page{
    .heading-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    .heading{
      font-size: 35px;
      font-weight: bold;
    }
.box{
  display: block;
    background: $blue;
      height: 20px;
      width: 20px;
  }
  }

.resume-container{
  margin: 0 auto;
  width: 40%;
  max-width: 100%;
}

.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  .download-btn{
    color: #fff;
    text-decoration: none;
    background: $blue;
    border: 1px solid transparent;
    padding: 5px 20px;
    font-weight: bold;
    transition: all 0.5s ease-in-out;
    &:hover{
      background: #e6dace;
      border: 1px solid $blue;
      color: black;
    }
  }
}
}
